{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container-fluid mt-5">
    <div class="container">
        <div class="card shadow border-0 m-auto " style="width:340px;border-radius: 15px;">
                <img class="rounded-circle card-img-top mx-auto mt-2" style="height: 100px;width:100px;position: relative;top: -30px;" src="{%static 'lebron-harden.jpg'%}" alt="">
            <div class="card-body py-0 mx-auto" style="position: relative; top: -25px;">      
            <h3 class="text-center" style="text-transform:capitalize;font-family:'Poppins',sans-serif;font-size:20px ;">hayrulla huseynov</h3>
            <h4 class="text-center" style="font-family:'Poppins',sans-serif;color:rgb(4, 88, 53);font-size:15px ;">Founder of hayrullahuseynov.com</h3>
            <p class="text-center fw-bold">I'm self-taught full-stack web developer. And this is my first project deployed online. Hope you enjoyed the content I've made,if you did, go and check some more</p>
        </div>
        
    </div>
    </div>
</div>

{%endblock%}