<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
  />

</head>
<section id="footer">
  <div class="d-flex ov pe-5 ps-5">
    <div class="">
      <h3><a href="">HAYRULLA HUSEYNOV</a></h3>
    </div>
    <div class="links">
      <a href="/about">ABOUT</a>
      <a href="/category/movies">MOVIES</a>
      <a href="/category/politics">POLITICS</a>
    </div>
  </div>
</section>

<style>
  .ov {
    justify-content: space-around;
  }
  section {
    padding: 15px 0;
  }
  #footer {
    background: #0aa785 !important;
    
  }
  #footer h3 a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  #footer a {
    text-decoration: none;
    color: #fff;
  }
  #footer .links {
    justify-content: space-between;
    width: 200px;
  }
</style>
